In [ ]:
#Soham: 25070123170
#Experiment 8

#***For Loop***

#***Syntax for 'for loop'***

In [1]:
#Syntax for for loop
#Print numbers from 1 to 5
for i in range(1,6):
  print(i)

1
2
3
4
5

In [3]:
#Even Numbers From 2 to 10
for i in range (2, 11, 2):
  print(i)

2
4
6
8
10

In [4]:
for i in range(3):
  print (i)

0
1
2

#***Syntax For Adding First N Numbers***

In [19]:
#Syntax to add First N Numbers
n= int(input("Enter a number: "))
c=0
for i in range(1,n+1):
  c+=i

print("The Sum is:",c)

Enter a number: 5
The Sum is: 15

#***Python program To Print A Matrix (Nested For Loop)***

In [27]:
#Using Nested For Loop To Print A Matrix
A=[[1,2,3],
  [4,5,6],
  [7,8,9]]
for i in range(3):
  for j in range(3):
    print(A[i][j], end=" ")
  print()

1 2 3
4 5 6
7 8 9

In [29]:
A=[[1,2,3],
  [4,5,6],
  [7,8,9]]

for row in A:
  print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

#***Multiplication of Matrix***

In [39]:
#multiplication of two 3x3 matrices

A = [[1,2,3],
     [4,5,6],
     [1,2,1]]
B=[[1,1,1],
   [6,4,5],
   [3,2,1]]
result =[[0,0,0],
         [0,0,0],
         [0,0,0]]

for i in range(3):
  for j in range(3):
    for k in range(3):
      result[i][j]+= A[i][j] * B[k][j]

print("Product of matrices: ")

for row in result:
  print(row)

Product of matrices:
[10, 14, 21]
[40, 35, 42]
[10, 14, 7]

#***Combinations Using For Loop***

In [40]:
#python program to accept three digits and print all possible combinations
d1= 1
d2= 2
d3=3
d = [d1,d2,d3]
#123,132,213,312,321
for i in range(3):
  for j in range(3):
    for k in range(3):
      if(d[i]!=d[j] and d[i]!=d[k] and d[j]!=d[k]):
        print(d[i],d[j],d[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

#***Right Angle Triangle***

In [45]:
#design a right angle triangle using python
for i in range(1,10,1):
  print("*"*i)

*
**
***
****
*****
******
*******
********
*********

#***pyramid***

In [58]:
rows = 10
for i in range(1,rows+1):
  print(" " * (rows-i) + "* " *i)

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *